.field{
    margin-bottom: 40px;
}

.field label{
    font-size: 18px;
    height: fit-content;
}

.field textarea{
    /* input field only bottom border */
    border: 0;
    margin-top: 15px;
    border-bottom: 1px solid #0B0C0E;
    background-color: transparent;
    outline: none;
    width: 100%;
    font-size: 18px;
}