.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.nav-bar div {
    margin: auto 80px;
    width: fit-content;
}

.nav-bar ul{
    display: flex;
    margin-right: 80px;
    width: fit-content;
    gap: 40px;
}

.nav-bar a{
    text-decoration: none;
    color: inherit;
}